.tweet {
  border-top: 1px solid rgba(230, 236, 240, 1);
  padding: 20px;
}

.tweet__header {
  margin-bottom: 15px;
}

.tweet__user-name-link {
  font-weight: bold;
  font-size: 14px;
  margin-right: 10px;
  color: black;
  text-decoration: none;

  &:hover,
  &:active {
    color: rgba(0, 127, 255, 1);
  }

}

.tweet__created {
  font-size: 12px;
  color: rgba(117, 135, 149, 1);
}

.tweet__delete {
  float: right;
  font-size: 12px;
  color: rgba(117, 135, 149, 1);
  cursor: pointer;

  &:hover {
    color: rgba(0, 127, 255, 1);
  }
}

.tweet__text {
  font-size: 14px;
  margin-bottom: 35px;
}

.tweet__action-item {
  color: rgba(101, 119, 134, 1);
  font-size: 12px;
  margin-right: 15px;
}

.tweet__icon {
  color: rgba(101, 119, 134, 1);
  font-size: 14px;
  margin-right: 5px;
}
