@import 'src/assets/styles/common';
@import 'src/assets/styles/variables';

.default-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__header {
    @extend %h3-header;
    color: $navy_blue;
  }

  &__body {
    width: 100%;
  }
}
