@import 'src/assets/styles/common';


.info {
  background-color: #fff;
  @extend %box-shadow;
  margin-bottom: 60px;

  &__grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: "description details avatar userName settings";
    grid-gap: 50px;
  }

  &__description {
    grid-area: description;
    align-self: center;
    font-size: 14px;
    color: rgba(83, 98, 108, 1);
    text-align: left;
    letter-spacing: -0.01em;
  }

  &__details {
    grid-area: details;
  }

  &__avatar {

    grid-area: avatar;
    position: relative;
    margin: 0;
  }

  &__user-name {
    grid-area: userName;

    &__name {
      font-size: 21px;
      font-weight: bold;
      color: rgba(31, 34, 38, 1);
      text-align: left;
      letter-spacing: 0.02em;
    }

  }

  &__user-settings {
    grid-area: settings;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

}
