.logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-weight:bold;
  height: 100vh;
  margin: 0;
  padding: 16px;
  color: rgba(255, 255, 255, .9);

  &__item {
    list-style-type: none;
    line-height: 24px;
  }

  &__jat {
    margin-left: auto;
    word-spacing: 100vw;
    line-height: 70px;
    font-size: 70px;
    text-align: right;
  }

  &__ss, &__github {
    margin-right: auto;
  }

  &__ss {
    line-height: 14px;
    font-size: 14px;
  }
}
