.file-upload-dropdown {
  background-color: #fff;
  width: 10%;
  position: absolute;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;

  &__list {
    padding: 0;
    margin: 0;

    li {
      text-align: center;
      list-style: none;
      padding: 5px 0;
      color: #667580;

      &:hover {
        background-color: gray;
      }
      a {
      }
    }
  }
}
