@import 'src/assets/styles/variables';
@import 'src/assets/styles/common';

.default-input {
  width: 100%;
  margin-bottom: 30px;
  position: relative;
  display: flex;
  flex-direction: column;

  &:last-of-type {
    margin-bottom: 5px;
  }

  &:before,
  &:after {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    content: '';
    display: block;
    transition: .9s;
  }

  &:before {
    background-color: $disable_gray;
    width: 100%;

  }

  &:after {
    width: 0%;
    background-color: $blue;
  }

  &--filled {
    &:after {
      width: 100%;
    }
  }

  &__label {
    @extend %label;
    position: absolute;
    top: 0px;
    left: 0;
    pointer-events: none;
    transition: .4s;

    &--focused {
      top: -15px;
      font-size: 12px;
    }
  }

  &__error {
    position: absolute;
    bottom: -10px;
    right: 0;
    font-size: 9px;
    color: $error_red;
  }
}

.input {
  border: none;
  padding: 4px 0px;
  font-size: 12px;
  outline: none;
}
