@import 'src/assets/styles/variables';

.softserve-reference {
  &__svg-icon {
    path {
      fill: $blue_opacity;
      transition: .4s;
    }

    &:hover {
      path {
        fill: $white;
      }
    }
  }
}
