@import 'src/assets/styles/variables';
@import 'src/assets/styles/common';

.avatar {
  &__container {
    &--big {
      width: 150px;
      height: 150px;
      position: absolute;
      background-color: $white;
      @extend %box-shadow;
      border-radius: 50%;
      top: 0;
      left: 0;
      bottom: 0;
      z-index: 100;
      right: 0;
      margin: auto;
    }
  }

  &:hover,
  &--big:hover {
    .file-upload--avatar {
      opacity: 1;
    }
  }

  &__figure {
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin: 0;
    position: relative;


    &--big {
      border-radius: 50%;
      flex: 0 0 150px;
      height: 150px;
      width: 150px;
    }
  }

  &__image {
    width: 92%;
    height: 92%;
    margin: auto;
    border-radius: 50%;

    &--big {
      bottom: 0;
      z-index: 1;

    }
  }
}
